{% extends "Comunication_LTD/base2.html" %}
{% block content %}

<div class="lh-lg">
        <p class="fs-1" >About</p>
        I am a student studying Computer Science at H.I.T University.</br>
        My passion for technology and programming drives me to explore the latest advancements in the field.</br>
        I have experience in various programming languages such as C++, Python, and Java.</br>
        I have also worked on projects related to Artificial Intelligence, Machine Learning, and Web Development.
        </br>I believe that technology has the power to change the world for the better, and I am excited to be a part of that change.</br>
        My goal is to use my knowledge and skills to create innovative and useful solutions to real-world problems.
        </br></br>
        Thank you for visiting my page.

    </div>

{% endblock content %}
