{% extends "Comunication_LTD/base2.html" %}
{% block content %}
    <style>
    .display-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    text-transform: uppercase;
    text-align: center;
    }
    a:visited, a:link, a:active
    {
       text-decoration: none;
       color: #000000;
    }
    a:hover{
        color: #5c5c5c;
    }
    </style>
    <div class="alert alert-info">
        Your password has been changed.
    </div>
    <h1 class="display-2" ><a href="{% url 'Comunication_LTD-home' %}">Home</a></h1>
{% endblock content %}